<mat-card class="portada-card">
  <mat-card-header>
    <mat-card-title>Rick & Morty Pedia</mat-card-title>
    <mat-card-subtitle
      >Explora personajes, episodios y localizaciones</mat-card-subtitle
    >
  </mat-card-header>

  <img
    mat-card-image
    src="assets/rick-morty-banner.jpg"
    alt="Rick and Morty banner"
  />

  <mat-card-content>
    <p>Bienvenido a tu aplicación de consulta de la API de Rick and Morty.</p>
  </mat-card-content>

  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="navegar('/characters')">
      Personajes
    </button>
    <button mat-stroked-button (click)="navegar('/episodes')">Episodios</button>
    <button mat-stroked-button (click)="navegar('/locations')">
      Localizaciones
    </button>
    <button mat-icon-button (click)="navegar('/team')">
      <mat-icon>people</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
