<div class="inicio">
  <mat-toolbar color="primary">
    <span>Rick y Morty Pedia</span>
  </mat-toolbar>

  <div class="portada">
    <h1>Bienvenido a Rick y Morty Pedia</h1>
    <p>Explora personajes, episodios y localizaciones de la famosa serie.</p>

    <div class="menu-inicio">
      <button mat-raised-button color="accent" routerLink="/personajes">Personajes</button>
      <button mat-raised-button color="accent" routerLink="/episodios">Episodios</button>
      <button mat-raised-button color="accent" routerLink="/localizaciones">Localizaciones</button>
      <button mat-raised-button color="accent" routerLink="/equipo">Equipo</button>
    </div>
  </div>
</div>

