<div class="home">
  <h1 class="home-title">Bienvenido a Rick &amp; Morty Pedia</h1>

  <p class="home-subtitle">
    Explora personajes, episodios y localizaciones de la serie, y crea tu propio equipo de favoritos
    con notas y prioridades.
  </p>

  <div class="cards">
    <mat-card routerLink="/characters" class="home-card">
      <mat-card-title>Personajes</mat-card-title>
      <mat-card-content>Lista completa con filtros y detalle de cada personaje.</mat-card-content>
    </mat-card>

    <mat-card routerLink="/episodes" class="home-card">
      <mat-card-title>Episodios</mat-card-title>
      <mat-card-content>Busca episodios por nombre y consulta su información.</mat-card-content>
    </mat-card>

    <mat-card routerLink="/locations" class="home-card">
      <mat-card-title>Localizaciones</mat-card-title>
      <mat-card-content>Descubre los mundos y dimensiones de la serie.</mat-card-content>
    </mat-card>

    <mat-card routerLink="/team" class="home-card">
      <mat-card-title>Equipo</mat-card-title>
      <mat-card-content>Gestiona tu equipo personalizado.</mat-card-content>
    </mat-card>
  </div>
  <div class="home-gif-container">
    <img
      class="home-gif"
      src="https://i.pinimg.com/originals/29/bd/26/29bd261d201e956588ee777d37d26800.gif"
      alt="Cute Rick and Morty GIF"
    />
  </div>
</div>
